.footer{
    background-color: rgb(146, 167, 189);
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-around;   
    margin-top: 200px;
    padding: 20px;
}
@media (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }
}
.cor{
    padding: 4px;
    font-size: 15px;
    color: #000;
    text-align: left;
    text-decoration: none;
}
.advanced{
    padding: 4px;
    font-size: 15px;
    color: #000;
    text-align: left;
    text-decoration: none;
}
.social{
    padding: 4px;
    font-size: 15px;
    color: #000;
    text-align: left;
    text-decoration: none;
}
.h-social{
    padding: 4px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.icons{
    padding: 6px 8px 4px 8px;
    font-size: 25px;
    color: #000;
    text-align: left;
    text-decoration: none;
}

.face{
  font-size: 10px;
  background-color: blue;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 4px;

}
.you{
  font-size: 10px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 4px;
}
.twit{
  font-size: 10px;
  background-color: rgb(204, 59, 168);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 4px;
}
.advanced:hover{
    color: #044e83;
}
.cor:hover{
    color: #044e83;
}
.social:hover{
    color: #044e83;
} 
.instagram{
  font-size: 10px;
  background-color: orangered;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 4px;  
}  
.email{
  font-size: 12px;
  margin-top: 25px;
  display: flex;
  color: midnightblue;
  width: 20px;
  height: 200px;
}
@media (min-width:650px) and (max-width:1280px){
  navbar{
    min-width: 1280px;

  }

}